{% from "componentes/fila_libro.html" import fila_libro %}


{% macro tabla_libros(libros) %}

<div
    class="card"
    id="tabla-libros"
>

    <div class="card-body">

        <h5 class="card-title">
            Lista de libros
        </h5>


        <table class="table table-striped align-middle" id="tabla-libros-tbl">

            <thead>

                <tr>

                    <th>ID</th>

                    <th>
                        Título
                    </th>

                    <th>
                        Año de publicación
                    </th>

                    <th class="text-end">
                        Acciones
                    </th>

                </tr>

            </thead>


            {% for libro in libros %}

                {{ fila_libro(libro) }}

            {% endfor %}

        </table>

    </div>

</div>

{% endmacro %}
